<div class="row-fluid">
    <div class="span6 offset3" id="errorMessageBox"></div>
    <div class="span12">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#userinfo" data-toggle="tab">Clients</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="userinfo">
                    <form id="userinfoform" class="form-horizontal">
                        <fieldset>
                            <legend>Clients</legend>
                            <div class="span11" id="clientTabularDiv">
                                <table class="span8">
                                    <thead>
                                        <tr style="font-weight: bold;">
                                            <td>&nbsp;</td>
                                            <td>Client Id</td>
                                            <td>First Name</td>
                                            <td>Last Name</td>
                                            <td>Email</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>