<div class="row-fluid">
    <div class="span12">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#userinfo" data-toggle="tab">User Info</a></li>
                <li><a href="#apiset" data-toggle="tab">API Settings</a></li>
                <li><a href="#billing" data-toggle="tab">Billing Info</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="userinfo">
                    <form id="userinfoform" class="form-horizontal">
                        <fieldset>
                            <legend>User Info</legend>
                            <label for="inputFirstName">First Name</label>
                            <input type="text" name="first_name" id="first_name"/>
                            <label for="inputLastName">Last Name</label>
                            <input type="text" name="last_name" id="last_name"/>
                            <label for="inputEmail">Email</label>
                            <input type="text" name="email" id="email" value="value_email"/>
                            <a href="#changeEmail" data-toggle="modal">(Change)</a>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="apiset">
                    <form id="apisettingform" class="form-horizontal">
                        <fieldset>
                            <legend>API Settings</legend>
                            <label for="inputClientId">Client Id</label>
                            <input type="text" name="client_id" id="client_id" value="value_client_id"/>
                            <label for="inputApiKey1">API Key 1</label>
                            <input type="text" name="api_key_1" id="api_key_1" value="value_api_key_1"/>
                            <div><a href="#showSecretKey1" data-toggle="modal">(Show secret key)</a></div>
                            <div><a href="#changeEmail" data-toggle="modal">(Generate new API Key and Secret)</a></div>
                            <label for="inputApiKey2">API Key 2</label>
                            <input type="text" name="api_key_2" id="api_key_2" value="value_api_key_2"/>
                            <div><a href="#showSecretKey2" data-toggle="modal">(Show secret key)</a></div>
                            <div><a href="#changeEmail" data-toggle="modal">(Generate new API Key and Secret)</a></div>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="billing">
                    <p>Howdy, I'm in Section billing.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="changeEmail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="changeEmailLabel">Change Email</h3>
    </div>
    <div class="modal-body">
        <form id="registrationform" class="form-horizontal">
            <div class="control-group"><input type="text" placeholder="New Email" name="new_email" id="new_email"/></div>
            <div class="control-group"><input type="text" placeholder="Email" name="old_email" id="old_email" value="value_email"/></div>
            <div class="control-group"><input type="password" placeholder="Password" name="password" id="password"/></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Change Email</button>
    </div>
</div>
<div id="showSecretKey1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="secretKey1Label">Secret Key 1</h3>
    </div>
    <div class="modal-body">
        <p id="secret_key_1"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<div id="showSecretKey2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="secretKey2Label">Secret Key 2</h3>
    </div>
    <div class="modal-body">
        <p id="secret_key_2"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<script src="app/controller/home.js"></script>