<div class="row-fluid">
    <div class="span6 offset3" id="errorMessageBox"></div>
    <div class="span12" id="vtigerLink"></div>
    <div class="span12">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#userinfo" data-toggle="tab">User Info</a></li>
                <li><a href="#apiset" data-toggle="tab">vTiger and API Settings</a></li>
                <li><a href="#copy-client" data-toggle="tab">Create New Account</a></li>
                <li><a href="#background-id" id="background-id-tab" data-toggle="tab">Image Upload Status</a></li>      
                <li><a href="#billing" data-toggle="tab">Billing Info</a></li>      
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="userinfo">
                    <form id="userinfoform" class="form-horizontal">
                        <fieldset>
                            <legend>User Info</legend>
                            <label for="inputFirstName">First Name</label>
                            <input type="text" name="first_name" id="first_name" value=""/>
                            <label for="inputLastName">Last Name</label>
                            <input type="text" name="last_name" id="last_name" value=""/>
                            <label for="inputEmail">Email</label>
                            <input type="text" name="email" id="email" value="" readonly="readonly"/>
                            <!--a href="#changeEmail" data-toggle="modal">(Change)</a-->
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="apiset">
                    <div class="span6">
                        <form id="apisettingform" class="form-horizontal">
                            <fieldset>
                                <legend>API Settings</legend>
                                <label for="inputClientId">Client Id</label>
                                <input type="text" name="client_id" id="client_id" value="" readonly="readonly"/>
                                <label for="inputApiKey1">API Key 1</label>
                                <input type="text" name="api_key_1" id="api_key_1" value="" readonly="readonly"/>
                                <div><a href="#showSecretKey1" data-toggle="modal">(Show secret key)</a></div>
                                <div><a href="#generateNewAPIAndSecretKey1" data-toggle="modal">(Generate new API Key and Secret)</a></div>
                                <label for="inputApiKey2">API Key 2</label>
                                <input type="text" name="api_key_2" id="api_key_2" value="" readonly="readonly"/>
                                <div><a href="#showSecretKey2" data-toggle="modal">(Show secret key)</a></div>
                                <div><a href="#generateNewAPIAndSecretKey2" data-toggle="modal">(Generate new API Key and Secret)</a></div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="span6">
                        <form id="vtigersettingform" class="form-horizontal">
                            <fieldset>
                                <legend>vTiger Settings</legend>
                                <div><input id="vtigerResetPasswordButton" value='Reset vTiger Admin Password' type="button" class="btn btn-primary"/></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="copy-client">
                    <div class="span6" id="clientTabularDiv">
                        <fieldset>
                            <legend>Current Account Details</legend>
                            <table class="table table-bordered table-striped">
                                <tbody></tbody>
                            </table>
                        </fieldset>
                    </div>
                    <div class="span6" style="background-color: none; padding: 4px;">
                        <form id="copyClient" class="form-horizontal">
                            <fieldset>
                                <legend>New Client Details</legend>
                                <div class="control-group"><input type="text" placeholder="Client ID" name="new_client_id" id="new_client_id"/></div>
                                <div class="control-group"><input type="text" placeholder="Email" name="new_email" id="new_email"/></div>
                                <div class="control-group"><input type="password" placeholder="Gizur SaaS Password" name="new_password" id="new_password"/></div>
                                <div class="control-group"><input type="button" id="copyClientFormSubmit" value="Copy Account" class="btn btn-success"/></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="background-id">
                    <div class="span12">
                        <fieldset>
                            <legend> Status</legend>
                            <table class="table table-bordered table-striped">
                                <tbody></tbody>
                            </table>
                        </fieldset>
                    </div>                    
                </div>
                <div class="tab-pane" id="billing">
                    <p>You're on the free plan. No billing information is required.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="changeEmail" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeEmail" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="changeEmailLabel">Change Email</h3>
    </div>
    <div class="modal-body">
        <form id="registrationform" class="form-horizontal">
            <div class="control-group"><input type="text" placeholder="New Email" name="new_email" id="new_email" value=""/></div>
            <div class="control-group"><input type="text" placeholder="Email" name="old_email" id="old_email" value=""/></div>
            <div class="control-group"><input type="password" placeholder="Password" name="password" id="password" value=""/></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="changeEmailClose">Close</button>
        <button class="btn btn-primary">Change Email</button>
    </div>
</div>
<div id="showSecretKey1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showSecretKey1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="secretKey1Label">Secret Key 1</h3>
    </div>
    <div class="modal-body">
        <p id="secret_key_1"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="showSecretKey1Close">Close</button>
    </div>
</div>
<div id="showSecretKey2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="showSecretKey2" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="secretKey2Label">Secret Key 2</h3>
    </div>
    <div class="modal-body">
        <p id="secret_key_2"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="showSecretKey2Close">Close</button>
    </div>
</div>
<div id="generateNewAPIAndSecretKey1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="generateNewAPIAndSecretKey1" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="generateNewAPIAndSecretKey1Label">Generate New API &AMP; Secret Key 1</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure the key should be inactivated, all clients using this key need to be updated with a new API Key and secret.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="generateNewAPIAndSecretKey1Close">Close</button>
        <button class="btn btn-primary" id="generateNewAPIAndSecretKey1Button">Generate</button>
    </div>
</div>
<div id="generateNewAPIAndSecretKey2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="generateNewAPIAndSecretKey2" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="generateNewAPIAndSecretKey2Label">Generate New API &AMP; Secret Key 2</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure the key should be inactivated, all clients using this key need to be updated with a new API Key and secret.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="generateNewAPIAndSecretKey2Close">Close</button>
        <button class="btn btn-primary" id="generateNewAPIAndSecretKey2Button">Generate</button>
    </div>
</div>