<div class="row-fluid">
    <div class="span6 offset3" id="errorMessageBox"></div>
    <div class="span12">
        <div class="span6">
            <div class="span12">
                <img src="./applications/gizursaas/images/gizur-logo-700x700-no-text.png" alt="Gizur Logo"/>
                <br/>
                <h2>Free CRM based on open source software</h2>
                <br/>
                <h3><a href="http://getsatisfaction.com/gizur" target="_blank">Community Support</a></h3>
                <br/>
                <h3>Delivered by <a href="http://www.gizur.com" target="_blank">Gizur AB</a></h3>
            </div>
        </div>
        <div class="span6">
            <div class="span12" style="background-color: none; padding: 4px;">
                <form id="loginform" class="form-horizontal">
                    <fieldset>
                        <legend>Sign In</legend>
                        <div class="control-group"><input type="text" placeholder="Email" name="email" id="login_email"/></div>
                        <div class="control-group"><input type="password" placeholder="Password" name="password" id="login_password"/></div>
                        <div class="control-group"><input type="button" value="Login" class="btn btn-success" id="loginButton"/>
                            <a style="margin-let: 4px;" href="#forgotPassword" data-toggle="modal">Forgot Password</a></div>
                    </fieldset>
                </form>
            </div>
            <div class="span12" style="background-color: none; padding: 4px;">
                <form id="registrationform" class="form-horizontal">
                    <fieldset>
                        <legend>Create an account</legend>
                        <div class="control-group"><input type="text" placeholder="First Name" name="first_name" id="first_name"/></div>
                        <div class="control-group"><input type="text" placeholder="Last Name" name="last_name" id="last_name"/></div>
                        <div class="control-group"><input type="text" placeholder="Client ID" name="client_id" id="client_id"/></div>
                        <div class="control-group"><input type="text" placeholder="Email" name="email" id="email"/></div>
                        <div class="control-group"><input type="password" placeholder="Password" name="password" id="password"/></div>
                        <div class="control-group"><input type="password" placeholder="Repeat Password" name="re_password" id="re_password"/></div>
                        <div style="padding-bottom: 14px;" class="control-group">
                            <input type="checkbox" name="terms" id="terms" value="y"/> I agree to Gizur SaaS 
                            <a href="#termsCondition" id="showTermsCondition" data-toggle="modal">Terms &amp; Services</a>.
                        </div>
                        <div class="control-group"><input type="submit" id="registrationformSubmit" value="Create Account" class="btn btn-success"/></div>
                    </fieldset>
                </form>
            </div>
        </div>        
    </div>
</div>

<div id="forgotPassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="forgotPasswordLabel">Forgot Password</h3>
    </div>
    <div class="modal-body">
        <p id="forgotPasswordError"></p>
        <p>Please enter the mail address you registered with:</p>
        <div class="control-group"><input type="text" placeholder="Email" name="login_id" id="login_id"/></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="forgotPasswordClose">Close</button>
        <button class="btn btn-primary" id="forgotPasswordButton">Reset Password</button>
    </div>
</div>
<div id="termsCondition" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="termsCondition" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="forgotPasswordLabel">Gizur SaaS Terms of Service</h3>
    </div>
    <div class="modal-body">
        <div class="control-group" id="termsConditionBody">Loading ...</div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="forgotPasswordClose">Close</button>
    </div>
</div>