/api/nbproject/private/.elasticbeanstalk/
/nbproject/
/instance-configuration/dev/
/instance-configuration/gc3-ireland/vtiger/dynamic.config.inc.php
*~
*.swp
*.swo
.DS_Store
.elasticbeanstalk
/vendor/
/composer
/node_modules/doccoh/.idea/
/node_modules/.bin/
/node_modules/
/composer.lock
/applications/gizursaas/node_modules
/applications/gizursaas/npm-debug.log
/applications/cikab/gizur-cron-tests/node_modules
/applications/cikab/tests/node_modules
/applications/cikab/tests/docs
/applications/cikab/tests/npm-debug.log
