/api/nbproject/private/.elasticbeanstalk/
/nbproject/
/instance-configuration/dev/
/instance-configuration/gc3-ireland/vtiger/dynamic.config.inc.php
*~
*.swp
*.swo
.DS_Store
/.elasticbeanstalk/.elasticbeanstalk/.elasticbeanstalk/.elasticbeanstalk/.elasticbeanstalk/.elasticbeanstalk/