/api/nbproject/private/.elasticbeanstalk/
/nbproject/
/instance-configuration/dev/
/instance-configuration/gc3-ireland/vtiger/dynamic.config.inc.php
*~
*.swp
*.swo
.DS_Store
/node_modules/
/composer
/composer.lock
/vendor/
/applications/gizursaas/npm-debug.log
/applications/gizursaas/node_modules/
/applications/cikab/tests/node_modules/