Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^api/(.*)$ api/index.php/api/$1 [L]
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^applications/cikab/bikeportal/ /cikab/seasonportal/ [R,L]
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^cikab/seasonportal/(.*) applications/cikab/seasonportal/$1 [QSA,L]
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^lib/(.*) lib/$1 [QSA,L]
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^applications/(.*) applications/$1 [QSA,L]

RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^([^\/]*)/webservice.php /lib/vtiger-5.4.0/webservice.php?clientid=$1 [QSA,L]

RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^([^\/]*)/index.php /lib/vtwrapper-index.php?clientid=$1 [QSA,L]
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^([^\/]*)/([^?]*) /lib/vtiger-5.4.0/$2?clientid=$1 [QSA]