Options -Indexes

ErrorDocument 404 https://c2.gizur.com/lib/error-documents/404.html
ErrorDocument 500 https://c2.gizur.com/lib/error-documents/500.html

RewriteEngine On

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^$ applications/gizursaas/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^api/(.*)$ api/index.php/api/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^applications/cikab/bikeportal/ /cikab/seasonportal/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^cikab/seasonportal/(.*) applications/cikab/seasonportal/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteCond %{REQUEST_URI} !^/applications/demo/trailer-app-portal/.*
RewriteCond %{REQUEST_URI} !^/applications/clab/trailer-app-portal/.*
RewriteRule ^([^\/]*)/index.php /lib/vtwrapper-index.php?clientid=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteCond %{REQUEST_URI} !^/applications/demo/trailer-app-portal/.*
RewriteCond %{REQUEST_URI} !^/applications/clab/trailer-app-portal/.*
RewriteRule ^([^\/]*)/([^?]*) /lib/vtiger-5.4.0/$2?clientid=$1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/index.php/.*
RewriteRule ^applications/demo/trailer-app-portal/([^?]*) applications/clab/trailer-app-portal/$1?clientid=demo [QSA,L]