Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchConfiguration
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/sdb"
          VirtualName: "ephemeral0"


files:
  "/usr/local/bin/addswap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      
      DEVICE=/dev/xvdb
      
      # If swap already active, exit.
      swapon -s | grep -q $DEVICE && exit
      
      # Unmount $DEVICE if mounted
      mount | grep -q $DEVICE && umount $DEVICE 
      
      # Create swap
      mkswap $DEVICE
      
      # Activate it
      swapon $DEVICE

commands:
  add_swap:
    command: "/usr/local/bin/addswap.sh"
    ignoreErrors: true

