body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}
#headertop
{
    background: #2C4056;
    margin: 0;
    padding: 0;
    height:25px;

}
#headertop span{
    float:right;

}

#headertop a
{
    color:#FFF;
    text-decoration:none;
}


#header
{
    margin: 0;
    padding: 0;
    background:#507AAA;
    height:auto;
    color:#FFF;
    overflow: hidden;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{

    font-size: 200%;
    overflow: hidden;
    height:auto;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;

}

#mainmenu ul
{
    padding:3px 0px 5px 0px;
    margin:0px;
    float:left;
    //width:800px;
    overflow: hidden;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:6px 50px;
    margin-left:-4px !important
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 10px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}
.detailedViewHeader {
    background-color: #E5E5E5;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #CCCCCC;
    padding: 5px;
    text-align: left;
}
.warrper{ width:900px; margin:20px auto; border:#F00 solid 1px;}
.toppanel{ width:830px; height:auto; padding:10px 0 0px 0; background:#e3f0f7;border:#589fc8 solid 1px;}
.Survey{width:300px; height:auto; float:left; }
.Survey h2{ font-size:18px;  font-weight: normal; color:#2a7fae; margin:0px 0px 10px 0px; padding:0px;}
.Damage{width:850px; height:auto; float:right;}
.Damage h2{ font-size:18px;  font-weight: normal; color:#2a7fae; margin:0px 0px 10px 0px; padding:0px;}
.button{ background:#507aaa; border:#173d68 solid 1px; font-weight:bold; color:#fff; padding:2px 5px; margin-left:123px} 
.button a { font-weight:bold; color:#fff; padding:2px 5px 10px; text-decoration:none; } 
